.Footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(26, 186, 192);
    color: #fff;
    bottom: 0px;
    position: fixed;
  }